<ion-view >
  <ion-content class="padding">
  	
		
  

 
  
    
      
	
	
	<label class="item item-stacked-label" > {{object.objecttypedesc}} </label>
	<label class="item item-stacked-label" > {{object.objecttype}} </label>
	<label class="item item-stacked-label" > Action: {{object.objectaction}} 	</label>
	<label class="item item-stacked-label" > Title: {{object.objectdesc}} </label>
	<label class="item item-stacked-label item-text-wrap" > Details: {{object.objectdetails}} </label>
	
        
	
	
  
  
        <label class="item" >
          <button class="button button-block button-positive" type="submit" ng-click="myGoBack()">Save</button>
        </label>
		
		
	
	
	

		
    
		
		
	
	
   
  </ion-content>
</ion-view>

