<ion-view >
  <ion-content class="padding">
  	
		 <ion-item class="item-assertive" ng-show="error" >
        {{error}}
      </ion-item>
  

 
  
    
      
	
	
	<label class="item item-stacked-label" > {{connection.firstuser}} </label>
	<label class="item item-stacked-label" > {{connection.seconduser}} </label>
	<label class="item item-stacked-label" > Item: {{connection.objectdesc}} </label>
	<label class="item item-stacked-label" > Details: {{connection.objectdetails}} </label>
	<label class="item item-stacked-label" > Reply: {{connection.responsemsg}} </label>
	    
	
	
  <label class="item" >
          <button class="button button-block button-positive" type="submit" ng-click="myGoBack()">Back</button>
        </label>
  
        <label class="item" >
          <button class="button button-block button-positive" type="submit" ng-click="confirmconnection()">Confirm</button>
        </label>
		
		
	
	
	

		
    
		
		
	
	
   
  </ion-content>
 
</ion-view>


